<h1>find news near you.</h1>
<p><%= link_to("Your current location is #{session[:address]}, click to view news in your area.", posts_path) %></p>

<form action="index" method="post">
  <label for="address">Or enter a location</label>
  <input name="address" id="address" type="text" value="<%= session[:address] %>">
  <label for="distance">Search Radius</label>
  <input type="number" id="distance" name="distance" value="<%= session[:distance] %>">
  <button>GO!</button>
</form>
